.search-background {
    background-image: linear-gradient(to bottom, rgb(195, 250, 250), rgb(255, 255, 255));
    height: 10rem;
}

.card {
    width: 15rem;

}
.card img {
    height: 200px !important;
}

/* @media only screen and (max-width: 600px) {
    .card {
      width: 5rem;
    }
    .card-title {
        font-size: 7px;
        height: 5px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .card img {
        height: 70px !important;
    }
  }
*/
.country-details-card {
    border: none !important;
} 
